<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Example</title>

    <link rel="stylesheet" href="" th:href="@{mystyle.css}">
</head>
<body>
     <div class="container">
      <img src="" class="profile"
           th:src="@{photo_2023-04-07_22-41-34.jpg}" alt="Arjun image">
         <h1>Adding CSS, Javascript and Image in Thymleaf</h1>

        < p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Aliquam beatae error eveniet ipsa, ipsam iste itaque labore magnam minus
         nobis non odit, perferendis quasi, quod ratione reiciendis rem sequi voluptatum?
         </p>
     </div>

<script src="" th:src="@{myjs.js}"></script>


</body>
</html>